.controle{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.controle label{
  margin-bottom: 0.6em;
  font-weight: bold;
}
.controle input{
  padding: 0.7em;
  border-radius: 0;
  border: none;
}
.controle input::placeholder{
  color: #7b7b7b;

}