.container{
 width: 97vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}
.min-height{
  height: 150vh;
}
.start{
  justify-content: flex-start;
}
.column{
  flex-direction: column;
  justify-content: flex-start;
}
